{% extends '_layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/start-application" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="sbi" value="{{ organisation.sbi }}"/>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">Sustainable farming funding applications for this organisation</h1>
            </legend>
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">{{ organisation.name }}</h2>
              <ul class="govuk-list">
                <li><strong>SBI number:</strong> {{ organisation.sbi }}</li>
                <li><strong>Address:</strong> {{ organisation.address }}</li>
              </ul>
            </div>
          </div>
          {{ govukButton({
            text: "Start new application",
            attributes: {
              id: "start-application"
            }
          }) }}
        </form>
      </div>
    </div>

    {% if agreements.length > 0 %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Applications</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for agreement in agreements|sort(true, false, 'updatedAtFormatted') %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ agreement.agreementNumber }}</td>
              <td class="govuk-table__cell">{{ agreement.updatedAtFormatted }}</td>

              <td class="govuk-table__cell">
                {{ taskLink(agreement.status.status) }}
              </td>

              <td class="govuk-table__cell">
                {% if agreement.status.status === 'In Progress' %}
                  <form method="POST" action="/start-application" novalidate>
                    <input type="hidden" name="crumb" value="{{ crumb }}"/>
                    <input type="hidden" name="sbi" value="{{ organisation.sbi }}"/>
                    <input type="hidden" name="agreementNumber" value="{{ agreement.agreementNumber }}"/>
                    <button class="govuk-button-link govuk-!-font-size-19" data-module="govuk-button">
                      Continue application
                    </button>
                  </form>
                {% elif agreement.status.status === 'Submitted' %}
                  <button class="govuk-button-link govuk-!-font-size-19" data-module="govuk-button">
                    View application
                  </button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    {% endif %}
  {% endblock %}
