{% extends '_layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}

{% block content %}
  how to sign in
{% endblock %}
