{% extends '_layout.njk' %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">TCG Portal</h1>
        <p class="govuk-body govuk-!-padding-bottom-9">This is the TCG Portal. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Quidem unde tempore nihil molestias et recusandae exercitationem incidunt quis.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Apply for a scheme</h2>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third"> 
        <h3 class="govuk-heading-s">
          <a href="#" class="govuk-link">Farming scheme</a>
        </h3>
        <p class="govuk-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
        
  </main>
</div>

    
{% endblock %}
