{% extends '_layout.njk' %}

{% block beforeContent %}
  {{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/business-hub">Business hub</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/people">People and permissions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{name}}
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Hill Farm</span>
        <h1 class="govuk-heading-xl">Permissions for {{name | title}}</h1>
        <p class="govuk-body">{{name | title}} is an agent of Hill Farm.</p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Area</th>
                <th scope="col" class="govuk-table__header">Permission level</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Business details</th>
                <td class="govuk-table__cell">Full permissions</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Land details</th>
                <td class="govuk-table__cell">Amend</td>
              </tr>              
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Entitlements</th>
                <td class="govuk-table__cell">Amend</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Basic payment scheme (BPS)</th>
                <td class="govuk-table__cell">Submit</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Countryside stewardship (applications)</th>
                <td class="govuk-table__cell">No access</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Countryside stewardship (agreements)</th>
                <td class="govuk-table__cell">No access</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Environmental land management (applications)</th>
                <td class="govuk-table__cell">No access</td>
              </tr>
            </tbody>
          </table>

          <a href="/people/edit-party?user={{name}}&id={{id}}&code={{code}}">
            <button class="govuk-button" data-module="govuk-button">Edit user</button>
          </a>
          <form method="POST" action="/people/user-permissions/delete">
            <input type="hidden" name="crumb" value="{{crumb}}"/>
            <div class="govuk-form-group">
              <input type="hidden" id="id" name="id" value="{{id}}">
              <button class="govuk-button govuk-button--warning" data-module="govuk-button">Delete user</button>
            </div>
          </form>
      
      </div>
    </div>



  </main>
</div>
  {# <span class="govuk-caption-xl">Business Hub for {{ auth.credentials.name }}</span> #}
  
{% endblock %}
